* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

:root {
    --black: #000;
    --light-black: #080B12;
    --lighter-black: #141922;
    --gray: #282828;
}



.web-app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

/* ----- SIDE-MENU ----- */

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--black);
    width: 250px;
    padding: 1rem;
}

.playlist-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.side-menu {
    padding: 1rem;
    flex-shrink: 0;
}

.side-menu li {
    color: #808080;
}

.spotify-logo--text {
    color: #fff;
    padding-right: 5rem;
    flex-shrink: 0;
}

.spotify-logo {
    display: none;
}

.create-playlist {
    overflow: hidden;
    flex-shrink: 0;
}

.title-playlist {
    padding: 1rem 0;
    text-transform: uppercase;
    color: #fff;
}

.my-playlist {
    overflow: auto;
    padding: 1rem 0;
}

.my-playlist li {
    color: #808080;
}

.sidebar-icons {
    width: 20px;
}

.create-playlist {
    color: #fff;
}

.create-playlist-section {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #808080;
}

.plus {
    background-color: #808080;
    color: #000;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

.install-icon {
    width: 20px;
    color: #808080;
}

.account-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #808080;
    border-radius: 50%; 

}

.account {
    color: #fff;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.install-app,
.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}


ul li {
    color: #fff;
    list-style: none;
    padding: .2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.white-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    margin: 0.5rem 0;
}

ul li:hover,
.create-playlist-section:hover{
    color: #fff;
}

.plus:hover {
    background-color: #fff;
}

.play-hover {
    display: none;
    position: absolute;
    font-size: 4rem;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-cover {
    position: relative;
}

.album-cover:hover .play-hover {
    display: block;
}

/* ----- PLAYER ----- */

.player {
    height: 90px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.play-btn:hover {
    transform: scale(1.1);
}

/* ----- LEFT COL ----- */

.song-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

.song-author {
    color: #fff;
}

.song-name {
    color: #808080;
}

.song-album {
    width: 50px;
}

img {
    width: 100%;
}

.song-interaction {
    color: #808080;
    display: flex;
    gap: 1rem;
}

.left-icon:hover {
    color: #fff;
}


/* ----- CENTER COL ----- */

.player-buttons {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1rem;
}

.play-btn {
    font-size: 2rem;
}

.player-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;

}

.middle-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.player-range-song {
    flex-grow: 1;
    height: 2px;
    background-color: #808080;
}

.player-range-step {
    background-color: #fff;
    height: 100%;
    width: 20%;
}

/* ----- RIGHT COL ----- */

.right-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
}

.vol-range {
    flex-grow: 1;
    height: 2px;
    background-color: #808080;
    min-width: 100px;
}

.vol-range-step {
    width: 20%;
    height: 2px;
    background-color: #fff;
}

.right-icon {
    color: #808080;
}

.right-icon:hover {
    color: #fff;
}

/* ----- LIBRARY ----- */

.library {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.player {
    flex-shrink: 0;
}

.subscription {
    background-color: var(--light-black);
    text-align: end;
    padding: 1rem;
}

.btn {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    display: inline-block;

}

.albums {
    flex-grow: 1;
    background-color: var(--lighter-black);
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.categories ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    text-transform: uppercase;
    color: #808080;
}

h2 {
    color: #fff;
    padding: 1rem 0;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.album-card {
    width: calc((100% / 6) - 1rem);
}

.album-card-song-details {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recently-played {
    padding: 1rem;
}

.recently-played .subtitle {
    color: #808080;
    padding: 0.5rem 0;
}

.round img{
    border-radius: 50%;
}

.recently-played img {
    padding: 0.5rem 0;
}

.btn:hover {
    transform: scale(1.1);
}

.padding {
    padding: 0 1rem;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 1100px) {

    .album-card {
    width: calc((100% / 4) - 1rem);
    }
}

@media screen and (max-width: 700px) {

    .album-card {
        width: calc((100% / 2) - 1rem);
        }
}

@media screen and (max-width: 600px) {
    .song-interaction {
        flex-direction: column;
        gap: 0.5rem;
    }

    .song-album {
        width: 25px;
    }

    .vol-range {
        min-width: 60px;
    }
    
}

@media screen and (max-width: 500px) {

    .vol-range {
        min-width: 40px;
    }

    .playlist-container {
        opacity: 0;
    }

    .sidebar-icons {
        width: 20px;
    }

    .side-menu li {
        padding: 0.2rem 0;
    }

    .spotify-logo--text,
    .hide,
    .white-line {
        display: none;
    }

    .side-menu {
        padding: 0.5rem 0;
    }

    .spotify-logo {
        display: block;
        color: #fff;
        width: 20px;
    }

    .playlist-container {
        width: 0%;
    }

    .sidebar {
        width: 60px;
    }

    .right-icon {
        display: none;
    }


}